@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CameraServer.Enums
@model CameraServer.Models.Devices.DeviceSensorSettings

<form asp-action="Create" asp-controller="DeviceSensorSettings" asp-anti-forgery="true" class="form-horizontal">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <input type="hidden" asp-for="Id" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CompasLimitValue"></label><br />
            <input asp-for="CompasLimitValue" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CompasWorkMode"></label><br />
            <select asp-for="CompasWorkMode" asp-items="Html.GetEnumSelectList<DeviceWorkMode>()" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="GyroscopeLimitValue"></label><br />
            <input asp-for="GyroscopeLimitValue" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="GyroscopeWorkMode"></label><br />
            <select asp-for="GyroscopeWorkMode" asp-items="Html.GetEnumSelectList<DeviceWorkMode>()" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="AccelerometerLimitValue"></label><br />
            <input asp-for="AccelerometerLimitValue" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AccelerometerWorkMode"></label><br />
            <select asp-for="AccelerometerWorkMode" asp-items="Html.GetEnumSelectList<DeviceWorkMode>()" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="GPSGLONASSLimitValue"></label><br />
            <input asp-for="GPSGLONASSLimitValue" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="GPSGLONASSWorkMode"></label><br />
            <select asp-for="GPSGLONASSWorkMode" asp-items="Html.GetEnumSelectList<DeviceWorkMode>()" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="ThermometerLimitValue"></label><br />
            <input asp-for="ThermometerLimitValue" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ThermometerWorkMode"></label><br />
            <select asp-for="ThermometerWorkMode" asp-items="Html.GetEnumSelectList<DeviceWorkMode>()" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="BarometerLimitValue"></label><br />
            <input asp-for="BarometerLimitValue" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BarometerWorkMode"></label><br />
            <select asp-for="BarometerWorkMode" asp-items="Html.GetEnumSelectList<DeviceWorkMode>()" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="WetSensorLimitValue"></label><br />
            <input asp-for="WetSensorLimitValue" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="WetSensorWorkMode"></label><br />
            <select asp-for="WetSensorWorkMode" asp-items="Html.GetEnumSelectList<DeviceWorkMode>()" class="form-control"></select>
        </div>
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </div>
</form>