@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<H3>ОШИБКА! Не удалось @(ViewBag.Action) элемент 'DeviceSensorSettings' с ID = @(ViewBag.Id)</H3>