@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<H1>DeviceActionRepo.GetAll result: </H1>
@{
    foreach (var item in ViewBag.Items)
    {
        <h3>@item</h3>
    }
}
