@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*<ul class="nav nav-pills">
    <li class="active"><a href="#">Понедельник</a></li>
    <li><a href="#">Вторник</a></li>
    <li><a href="#">Среда</a></li>
    <li><a href="#">Четверг</a></li>
    <li><a href="#">Пятница</a></li>
    <li><a href="#">Суббота</a></li>
    <li><a href="/Camera">Воскресение</a></li>
</ul>*@

<script>
        $(function () {
            $("#tabs").tabs();
        });
</script> 

<div id="tabs">
    <ul>
        <li><a href="/Camera/GetDeviceActionsByWeekDay?dayOfWeek=1">Понедельник</a></li>
        <li><a href="/Camera/GetDeviceActionsByWeekDay?dayOfWeek=2">Вторник</a></li>
        <li><a href="/Camera/GetDeviceActionsByWeekDay?dayOfWeek=3">Среда</a></li>
        <li><a href="/Camera/GetDeviceActionsByWeekDay?dayOfWeek=4">Четверг</a></li>
        <li><a href="/Camera/GetDeviceActionsByWeekDay?dayOfWeek=5">Пятница</a></li>
        <li><a href="/Camera/GetDeviceActionsByWeekDay?dayOfWeek=6">Суббота</a></li>
        <li><a href="/Camera/GetDeviceActionsByWeekDay?dayOfWeek=0">Воскресение</a></li>
    </ul>
    @*<div id="tabs-1">
        <h1>This is Home Tab</h1>
    </div>
    <div id="tabs-2">
        <h1>This is Contact Tab</h1>
    </div>*@
</div> 